@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

*{

    font-family: 'Open Sans', sans-serif;

}



header{
  padding: 30px;
}

header{

  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;


}

.seccion3 .seccion4 {
  z-index: 1;
}